<div class="row gx-5 align-items-center" style="background-image: url('/images/ImgCV.jpg');">
    <div class="col-xxl-5">
        
        <div class="text-center text-xxl-start" >
            <div class="fs-3 fw-light text-muted"style="text-align: center;">Codificando sueños</div>
            <h3 class="display-3 fw-bolder mb-5" style="text-align: center;"><span class="text-gradient d-inline">Construyendo futuros</span></h3>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
               <img src="" alt="">
                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" style="text-align: center;" [routerLink]="['/proyectos']">Proyectos</a>
            </div>
    </div>
</div>

<div class="card overflow-hidden shadow rounded-4 border-0" style="background-color: rgb(202, 209, 215);">
    <div class="text-center mb-5" style="background-color: rgb(187, 195, 201);">
    <h1 class="display-5 fw-bolder mb-0" ><span class="text-gradient d-inline">Formación</span></h1>
</div>
    <div class="card-body p-0">
        <div class="d-flex align-items-center">
            <div class="p-5">
                <h3 class="fw-bolder">ID Bootcamps (Enero 2024 - Mayo 2024)</h3>
                <p>
                    
                    Durante mi formación en ID Bootcamps como Desarrollador Fullstack, he aprendido a crear aplicaciones web robustas usando tecnologías modernas de frontend y backend. He desarrollado habilidades en JavaScript, Angular, Node.js, y bases de datos, integrando soluciones completas desde el diseño hasta la implementación. Esta experiencia me ha permitido comprender mejor el ciclo completo de desarrollo y la importancia de un código limpio y eficiente.
                </p>
           
    </div>
</div>
<div class="card overflow-hidden shadow rounded-4 border-0" style="background-color: rgb(165, 175, 183);">
    <div class="card-body p-0">
        <div class="d-flex align-items-center">
            <div class="p-5">
                <h2 class="fw-bolder">Universidad Complutense de Madrid</h2>
                <h5 class="fw-bolder">Máster en Biología Sanitaria (Septiembre 2020 - Junio 2022)</h5>
                <p>
                    
                    Durante mi máster en Biología Sanitaria, profundicé en los mecanismos biológicos relacionados con la salud y las enfermedades, desarrollando habilidades avanzadas en investigación biomédica. Esta formación me ha preparado para abordar problemas de salud desde una perspectiva científica rigurosa y aplicada.
                </p>
                <h5 class="fw-bolder">Grado en Biología
                     (Septiembre 2014 - Junio 2020)</h5>
                <p>
                   
                    Durante mi grado en Biología, adquirí un profundo conocimiento sobre la diversidad de organismos y sus procesos vitales, junto con habilidades en investigación científica y análisis de datos. Esta formación me ha brindado una comprensión integral de los principios biológicos y su aplicación práctica en el campo de la ciencia.
                </p>
           
    </div>
</div>


<section class="bg-light py-5" style="background-color: rgb(205, 213, 220);">
    <div class="container px-5">
        
        <div class="row gx-5 justify-content-center" >
            <div class="col-xxl-8">
                
                <div class="text-center my-5" >
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Sobre mí</span></h2>
                    <p class="lead fw-light mb-4">Mi nombre es Javier y soy un apasionado de la tecnología y todas las posibilidades que nos ofrece</p>
                    <p class="text-muted"> Desarrollador Fullstack Junior con un profundo interés por la resolución de problemas y el aprendizaje continuo. Recientemente graduado y ansioso por sumergirme en el mundo del desarrollo de software, estoy buscando oportunidades para contribuir y crecer en un entorno dinámico.</p>
                </div>

                    
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="https://www.linkedin.com/in/javier-jimenez-346b51252/"><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="https://github.com/xabierjc94?tab=repositories"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
   
    
</section>


