<section class="py-5" style="background-image: url('https://www.michaelpage.es/sites/michaelpage.es/files/2021-11/Full%20Stack%20Developer.jpg');">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Proyectos</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
            
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5" style="background-color: antiquewhite;">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder"><a href="https://idfashionproject.web.app/home">ID FASHION</a></h2>
                                <p>El objetivo del proyecto es la creación de una aplicación web para la gestión completa de un sitio orientado a la compra-venta de productos de moda. Se debecentrar el desarrollo tanto en la parte del usuario que se acerca al contenido para realizar sus compras, como en la parte del gestor que se encarga de definir y maquetar todo el contenido de los productos a mostrar.</p>
                               
                            </div>
                            <img class="img-fluid" src=""/>
                        </div>
                    </div>
                </div>
                
                <div class="card overflow-hidden shadow rounded-4 border-0" style="background-color: antiquewhite;">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder"><a href="">Portfolio Personal</a></h2>
                                <p>
                                    Bienvenido a mi portafolio, donde transformo ideas en aplicaciones web dinámicas y funcionales. Con experiencia en tecnologías frontend y backend, mis proyectos reflejan pasión y dedicación por la tecnología. Explora mis creaciones y descubre cómo convierto desafíos en soluciones innovadoras.</p>
                            </div>
                            <img class="img-fluid" src="" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section  class="py-5 bg-gradient-primary-to-secondary text-black" >
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">Construyamos algo juntos</h2>
            <a class="btn btn-outline-black btn-lg px-5 py-3 fs-6 fw-bolder" [routerLink]="['/contacto']">Ponte en contacto conmigo</a>
        </div>
    </div>
</section>
